/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores */
:root {
    --azul-marinho: #072f65;
    --azul-oceano: #0c3868;
    --azul-celeste: #0a60ac;
    --azul-claro: #8DBFE5;
    --branco-gelo: #cbdef1;
}

/* Body */
body {
    overflow-x: hidden; /* Remove rolagem horizontal */
    font-family: 'Poppins', sans-serif;
    background-color: var(--branco-gelo);
    color: var(--azul-marinho);
}

/* Header */
header {
    background-color: rgba(0, 0, 128, 0);
    padding: 20px 5%;
    height: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: background-color 0.5s ease-in-out;
    z-index: 1;
}

/* Estilização do botão hamburguer */
.menu-toggle {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: none; /* Escondido por padrão */
    color: #fff;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column; /* Organiza os itens na vertical */
    gap: 10px;
}

/* Configuração para telas menores */
@media screen and (max-width: 1020px) {
    .menu-toggle {
        display: block; /* Mostra o botão */
        position: absolute;
        right: 20px;
        top: 30px;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--azul-marinho);
        position: absolute;
        right: 0;
        top: 100px;
        width: 200px;
        padding: 10px;
        border-radius: 8px;
        z-index: 10;
    }

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .menu ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        display: block;
    }

    .menu.active {
        display: flex;
    }
}

/* SLIDER */
#slider-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(70%);
    position: relative;
}

/* Navbar */
.navbar {
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Logo */
#logo_img {
    height: 120px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.8));
}

/* Menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 8px 16px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    padding: 10px 15px;
    border-radius: 8px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background-color: #fff;
    color: var(--azul-marinho);
}

/* Seções */
section {
    background-color: var(--branco-gelo);
}

#problema {
    background-color: #072f65;
    padding: 70px 10%;
    color: #fff;
    width: 100%;
}

section h2 {
    color: #fff;
    margin-bottom: 20px;
}

section p,
section ul {
    color: #fff;
    line-height: 1.6;
}

/* Botões */
button {
    background-color: var(--azul-celeste);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--azul-oceano);
}

/* Footer */
footer {
    background-color: var(--azul-marinho);
    color: var(--branco-gelo);
    text-align: center;
    padding: 20px;
}

/* Soluções */
.solucoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
}

.solucao img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
}
.solucao img:hover {
    filter: brightness(70%);
}
